<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.chaerin.boot4.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.chaerin.boot4.board.BoardFilesVO" alias="BoardFilesVO"/>
  		<typeAlias type="com.chaerin.boot4.util.Pager" alias="Pager"/>
  		<typeAlias type = "java.lang.Long" alias="Long" />
  		<typeAlias type="java.util.List" alias="List"/>
  		
  		<typeAlias type="com.chaerin.boot4.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.chaerin.boot4.member.MemberFileVO" alias="MemberFileVO"/>
  		<typeAlias type="com.chaerin.boot4.member.RoleVO" alias="RoleVO"/>
  		
  		<typeAlias type="com.chaerin.boot4.product.ProductVO" alias="ProductVO"/>
  		<typeAlias type="com.chaerin.boot4.product.ProductFilesVO" alias="ProductFilesVO"/>
  		
  		<typeAlias type="java.util.Map" alias="Map"/>
  	</typeAliases>
  </configuration>