<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.chaerin.boot4.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.chaerin.boot4.board.BoardFilesVO" alias="BoardFilesVO"/>
  		<typeAlias type="com.chaerin.boot4.util.Pager" alias="Pager"/>
  		<typeAlias type = "java.lang.Long" alias="Long" />
  	</typeAliases>
  </configuration>